<% provide(:title, 'About') %>
<!DOCTYPE html>

 	<h1>Twitter-like Application</h1>
 	<p>
 		This twitter-like application is made by Tracey Wang.
 		Welcome to contact her by email: traceyw@vt.edu
 	</p>
 